.c{
    height: 450px;
    width: 19%;
    border: solid 4px;
    background-color: maroon;
    float: left;
    margin-left: 4px;
}
img{
    width: 100%;
    height: 200px;
}
p{
    padding: 6px;
}
h1{
    text-align: center;
}